#features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
  }
  #features .contenedor {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  #features .left-column {
    width: 50%;
    text-align: center;
  }
  #features .left-column img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  #features .right-column {
    width: 50%;
    text-align: left;
    padding: 0 20px;
    margin: 50px;
  }
  #features h2 {
    font-size: 2.5em;
    margin: 0 0 20px;
  }
  #features p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
  }
  #features .btn {
    display: inline-block;
    font-size: 1em;
    padding: 15px 30px;
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
    margin-top: 30px;
  }
  #features .btn:hover {
    background-color: rgba(155, 215, 216, 0.94);
    color: #333;
  }
