#mi-trabajo{
    background: linear-gradient( rgba(230, 250, 85, 0.9),rgba(155, 215, 216, 0.94));
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 3rem),
        0 100%
        );
        margin-top: 20px;
        padding-top: 10px;
  }
  
  .contenedor-trabajar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  #mi-trabajo h3{
    text-align: center;
    font-size: 55px;
    font-weight: normal;
    margin-bottom: 25px;
  }
  
  #mi-trabajo .item {
    width: 30%;
    text-align: center;
  }
  
  #mi-trabajo ul li {
    list-style: none;
  }
  
  #mi-trabajo ul li:nth-child(2) {
    font-weight: bold;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  #mi-trabajo ul li:nth-child(3) {
    line-height: 35px;
  }
  