#hero, #features, #galeria, #que-esperas,#mi-trabajo, #contacto , #footer {
    padding: 50px;
  }
  
  .contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
  }
  
  h3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
  }