#footer {
    background-color: rgb(230, 250, 85);
    color: black;
    text-align: center;
    padding: 50px 20px;
    border-radius: 0 0 10px 10px;

        .contenedor {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
        }
            h3 {
                font-size: 1.2em;
                margin: 20px;
            }
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
                    li {
                        font-size: 0.9em;
                        line-height: 1.5;
                    }
                        a {
                            color: #fff;
                            text-decoration: none;
                            transition: color 0.2s;
                        
                        :hover {
                            color: #333;
                        }
}
                            .fa {
                                font-size: 1.5em;
                                margin: 0 5px;
                            }

                                    .social-icons {
                                        list-style: none;
                                        margin: 0;
                                        padding: 0;
                                        display: flex;
                                                li {
                                                margin-right: 10px;
                                                margin-top: 10px;
                                                    a {
                                                    color: #fff;
                                                    font-size: 24px;
                                                    transition: color 0.2s;
                                                    display: block;
                                                    width: 40px;
                                                    height: 40px;
                                                    border-radius: 50%;
                                                    background-color: rgb(155, 215, 216);
                                                    text-align: center;
                                                    line-height: 40px;
                                                        :hover {
                                                        background-color: #fee2ea;
                                                        color: #fff;        
                                            }
                                    } 
            }
        }
}