#que-esperas {
    background: linear-gradient( rgba(155, 215, 216, 0.94),rgba(230, 250, 85, 0.9));
    text-align: center;
    padding: 50px 0;
    margin-top: 40px;
        h3 {
            font-size: 35px;
            color: #333;
            padding: 20px;
  }
        a {
            display: inline-block;
            font-size: 1em;
            padding: 15px 30px;
            border: 2px solid #fff;
            border-radius: 5px;
            color: #333;
            text-decoration: none;
            transition: background-color 0.2s, color 0.2s;
        :hover {
            background-color: #fff;
            color: #333;
        }
    }
}