@media screen and (max-width: 600px){
    .contenedor{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
      }
  
      #footer img{
        margin-left: 150px;
      }
  
      .social-column{
        margin: auto;
      }
  
      #footer .center-column{
        margin: auto;
      }
  
      #footer .right-column{
        margin: auto;
      }

}

@media screen and (min-width:767px) and (max-width: 1023px){

}



@media screen and (min-width: 1024px){
   
} 